body {
      font-family: Arial, sans-serif;
      margin: 30px;
      background-color: #fafafa;
    }
h1 {
      text-align: center;
      color: #333;
    }
table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
    }
th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }
th {
      background-color: #f4f4f4;
    }
#updatedTime, #dataTimestamp {
      text-align: center;
      margin-top: 8px;
      font-size: 0.95em;
      color: #666;
    }
#headline {
      background-color: ff5c00;
            
      }
#headline2 {
      background-color: 950606;
            
      }
#headline3 {
      background-color: 8A2BE2;
            
      }
#headline4 {
      background-color: ff5c00;
            
      }
#headline5 {
      background-color: ff5c00;
            
      }
#headline6 {
      background-color: ff5c00;
            
      }
#headline7 {
      background-color: ff5c00;
            
      }
